<!DOCTYPE HTML>
<html>
	<head>
		<title>Politic-Z</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/style.css"/>
		<link rel="stylesheet" href="../assets/css/introjs.css"/>
	</head>
	<body>
		<div id="page-wrapper">
			<header id="header" class="alt">
				<h1 id="logo"><a href="/">POLITIC-Z</a></h1>
					<nav id="nav">
						<ul>
							<li class="submenu">
								<a href="#" data-step="2" data-intro="Here's where you can find out how to get involved in our government! Wonder if you're old enough to pre-register to vote? Looking for local events or upcoming elections? Find out here!">Vote</a>
							<ul>
								<li><a href="/register">Register to Vote</a></li>
								<li><a href="/elections">Upcoming Elections</a></li>
								<li><a href="/locations">Polling Locations</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#" data-step="3" data-intro="Here's where you can learn about who your representatives are and more about your political views. Curious as to who your state's senators or what political party your views align with? Learn here!">Learn</a>
								<ul>
									<li><a href="/senators" >Find Your Senators</a></li>
									<li><a href="/representative">Find Your Representative</a></li>
									<li><a href="/quiz">Political Party Quiz</a></li>
									<!--<li><a href="/natquiz">Naturalization Quiz</a></li>-->
									
								</ul>
							<li><a href="/news" data-step="4" data-intro="Here is your go-to spot for recent news about our government! Be informed!">Stay Informed</a></li>
						</ul>
					</nav>
			</header>
						
			<br>
			<section id="banner">
				<div class="inner" data-step="1" data-intro="Welcome to Politic-Z! Ready for a Quick Tour?">
						<style>
							h2 {
								font-size: 40px;
								letter-spacing: 0px;
								padding-bottom: -10px;
								margin-bottom: 0.15em;
							}
						</style>
						<strong><h2>Politic-Z</h2></strong>
						<p>Welcome to Politic-Z, a web application
						</br>
						informing and encouraging the  
						</br>
						next generation, generation Z,  
						</br>
						of Americans to be involved in
						</br>
						politics and our future!
						</p>
						<br>
							<ul class="buttons stacked">
								<li><button href="javascript:void(0);" class="primary" onclick="javascript:introJs().start();" data-step="5" data-intro="That's it for the tour. Now explore Politic-Z and see how Gen-Z can make a difference by getting involved in the political sphere!">Tell Me More </button></li>
							</ul>

					</div>
				</section>
		</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/main.js"></script>
			<script src="../assets/js/intro.js"></script>

	</body>
</html>