<!DOCTYPE HTML>
<html>
	<head>
		<title>Register to Vote!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/style.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="contact is-preload">
		<div id="page-wrapper">
<style>
	p, h2{
		line-height: 1.25;
	}
</style>
			<!-- Header -->
<header id="header" class="alt">
				<h1 id="logo"><a href="/">POLITIC-Z</a></h1>
					<nav id="nav">
						<ul>
							<li class="submenu">
								<a href="#">Vote</a>
							<ul>
								<li><a href="/register">Register to Vote</a></li>
								<li><a href="/elections">Upcoming Elections</a></li>
								<li><a href="/locations">Polling Locations</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#">Learn</a>
								<ul>
									<li><a href="/senators" >Find Your Senators</a></li>
									<li><a href="/representative">Find Your Representative</a></li>
									<li><a href="/quiz">Political Party Quiz</a></li>
									<!--<li><a href="/natquiz">Naturalization Quiz</a></li>-->
									
								</ul>
							<li><a href="/news">Stay Informed</a></li>
						</ul>
					</nav>
			</header>

			<!-- Main -->
				<article id="main">
					<header class="alt">
						<!--<span class="icon featured fa-check"></span>-->
						<br>
						<br>
					
					</header>

					<!-- One -->
						<section class="wrapper style4 special container medium">
	<center>
						
						<h2>Register to Vote!</h2>
						<p>Depending on your home state and your age, you may be able to pre-register to vote at 16 or vote in a general primary at 17! Input your home state and age to see how to register!</p>
				</center>
							<!-- Content -->
								<div class="content">
										<form action="/results" method="POST">
										<div class="row gtr-50">
											<div class="col-6 col-12-mobile">
												<input type="text" name="state" placeholder="State"/>
											</div>
											<div class="col-6 col-12-mobile">
												<input type="text" name="age" placeholder="Age"/>
											</div>
											
											<div class="col-12">
													<ul class="buttons">
										    	<li><button type="submit" class="button">submit</button></li>
										        </ul>
											</div>
										</div>
									</form>
								</div>
						</section>
				</article>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>


	</body>
</html>